body{
    margin: 0;
}
.polje{
    text-align: center;
    width: 100%;
    border: 1px solid black;
    padding-top:1.7rem;
}
.danas{
    background-color: gold;
}
#main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(7,1fr); 
    height: 50vh;
}
 
 